<div class="active">
    <div class="panel panel-body">
        <div class="panel-heading">panel heading without title</div>
        <div class="panel-body">
            222323
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">Panel heading without title</div>
        <div class="panel-body">
            333333
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">Panel heading without title</div>
        <div class="panel-body">
            5555555
        </div>
    </div>

</div>