{% extends "base.html" %}
{% block add %}
    <!--<h1 class="pull-right">欢迎{{request.user}}登录</h1>-->

    <div class="container">
        <div class="row" style="padding-top: 80px;">
            <div class="col-md-6 col-md-offset-3">
                <a href="/addpublish/">
                    <button class="btn btn-primary add">添加出版社</button>
                    </a>

                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>出版社名称</th>
                            <th>出版社地址</th>
                            <th>联系邮箱</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for publish in pub_list %}
                            <tr>
                                <td>{{publish.id}}</td>
                                <td><a href="/books/{{ publish.id }}/publishs">{{ publish.name }}</a></td>
                                <td>{{ publish.addr }}</td>
                                <td>{{ publish.email }}</td>
                                <td>
                                    <a href="/publishs/{{ publish.pk }}/change"><button class="btn btn-info">编辑</button></a>
                                    <a href="/publishs/{{ publish.pk }}/delete"><button class="btn btn-danger">删除</button></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
