 *{
            padding:0;
            margin:0;
        }
        ul{
            /*清除ul的默认样式*/
            list-style: none;

        }
        .topBar{
            width:100%;
            height:40px;
            font-size: 16px;
            background-color:black;
        }
        .topBar .sep{
            color: #424242;
            margin: 0 2px;
        }
         .topBar a{
            color: #b0b0b0;
        }
        .topBar a:hover{
            color: white;
        }
        .container{
            width: 1226px;
            /*height:40px;*/
            /*background-color:yellow;*/
            /*居中显示*/
            margin-right: auto;
            margin-left: auto;
        }
        .topBar-nav{
            float:left;
            width: 375px;
            height: 40px;
            /*background-color: red;*/
        }

        a {
            color:#757575;
            text-decoration: none;

        }

        .user-info{
            float: right;
            width: 140px;
            height: 40px;
            /*background-color: #FC4B38;*/
            margin-right: 15px;
        }
        .topBar-cart{
            float:right;
            width: 120px;
            height: 40px;
            /*background-color: green;*/
        }
       .header{
           height: 100px;
           line-height: 100px;
           overflow: hidden;
       }
        .header-logo,.header-nav{
            float: left;
            height: 100px;
        }
        .header-logo .logo1{
            margin-right: 10px;
            margin-top: 20px;
        }
        .header-logo .logo2{
            width: 170px;
            height: 70px;
            position: relative;
            top:5px;
        }
        .header-search{ float: right; position: relative;}
        .header-nav ul li{ float: left; padding: 0 8px; color: black}
        .header-nav ul li a{ color: #333; font-size: 16px;}
        .header-nav ul li a:hover{ color: rgba(255,103,0,0.98);}
        .header-nav ul li .div1{ display: none; overflow: hidden; position: absolute;background-color: white; left: 0; width: 100%;
            z-index: 2;border-top: 1px solid #b0b0b0; }
        .header-nav ul li .div1 ul{ overflow: hidden;}
        .header-nav ul li .div1 ul li{ padding-top: 30px; height: 125px; margin: 0 50px; text-align: center;}
        .header-nav ul li .div1 ul li div{ width: 60px;height: 60px; background: url("../images/小米图标.jpg") no-repeat center;
            background-size: 60px;position: relative; left: 0; border: none;}
        .header-nav ul li .div1 ul li span{ position: relative; bottom: 30px;}
        .header-nav ul li .div2{ width: 1226px; margin: 0 auto;}
        .header-nav ul li .div2 div{ cursor: pointer;}
        .header-nav ul li .div2 span:hover{ color:rgba(255,103,0,0.98); cursor: pointer;}
        .logo{
            float: left;
            width: 62px;
            height:55px;
            background-color: #E766EA;
        }
        logo.logo1{
            margin-right: 10px;
            margin-left: 20px;
        }
        .doodle{
            display:none
        }

        doodle .link-block {
            position: absolute;
            left: 69px;
            bottom: 0;
            z-index: 21;
            width: 165px;
            height: 100px;
            background-repeat: no-repeat;
            background-position: center center;
            text-indent: -9999em;
        }

        .nav{
            float: left;
            width:780px;
            height: 110px;
            background-color: yellow;
        }
        .header-search{
            float: right;
            width: 296px;
            height: 50px;
            background-color: purple;
            margin-top: 25px;
        }
         .search-hot-words{
             position:absolute;
             top:14px;
             right:62px;
             z-index:2;
             text-align:right
         }
        .site-header .search-hot-words a{display:inline-block;*zoom:1;*display:inline;margin-left:5px;padding:0 5px;font-size:12px;background:#eee;color:#757575;-webkit-transition:all .2s;transition:all .2s}
        .site-header .search-hot-words a:hover{background:#ff6700;color:#fff}
        .search-text{border-color:#b0b0b0}.site-header .search-form:hover .search-btn{border-color:#b0b0b0}.site-header .search-form:hover .search-btn:hover{border-color:#ff6700}.site-header .search-form-focus:hover .search-text{border-color:#ff6700}.site-header .search-form-focus:hover .search-btn{border-color:#ff6700}.site-header .search-form-focus .search-text{border-color:#ff6700}.site-header .search-form-focus .search-btn{border-color:#ff6700}.site-header .search-form-focus .search-btn:hover{background-color:#ff6700;color:#fff}.site-header .search-text{position:absolute;top:0;right:51px;z-index:1;width:223px;height:48px;padding:0 10px;border:1px solid #e0e0e0;font-size:14px;line-height:48px;outline:0;-webkit-transition:all .2s;transition:all .2s}.site-header .search-btn{position:absolute;right:0;top:0;z-index:2;width:52px;height:50px;border:1px solid #e0e0e0;font-size:24px;line-height:24px;background:#fff;color:#616161;outline:0;-webkit-transition:all .2s;transition:all .2s}
        .content{
            width:1226px;
            height:460px;
            margin: 0 auto;
        }
        .content-list{
            float: left;
            width:234px;
            height:460px;
            background-color: #1971FE;
        }
        .lunbo{
            float: left;
            width:992px;
            height:460px;
            background-color: #FD8008;
        }
        .shop{
            width:1226px;
            height: 170px;
            margin:0 auto;
            /*background-color: green;*/
        }
        .shop .channel{
            width:234px;
            height: 170px;
            float: left;
            background-color: #996633;
        }
        .shop .advertising{
            width:992px;
            height:170px;
            /*background-color: red;*/
            float: left;
        }
        .shop .advertising ul li{
            float:left;
            width:316px;
            height:170px;
            background-color: red;
            margin-left: 14px;
        }
        span{
            display:inline-block;
            *zoom:1;
            *display:inline;
            margin-left:44px;
            border-color:#da952e;
            color:#da952e
        }