.c1 {
    margin-right: 10px;
}

h2 {
    margin-top: 100px;
    margin-left: 280px;
}
.left{
    position: relative;
}
.right{
    width: 270px;
    height: 294px;
    position: absolute;
    top: 197px;
    left: 886px;
}
.registr_btn{
    width: 100px;
    margin-left: 200px;
}
.avatar{
    position: relative;
    width: 70px;
    height: 70px;
}
.avatar_img,.avatar_file{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    left: 46px;
}
.avatar_file{
    opacity: 0;
}

reg.css