.c1 {
    margin-right: 10px;
}

h2 {
    margin-top: 100px;
    margin-left: 280px;
}
.left{
    position: relative;
}
.right{
    width: 270px;
    height: 294px;
    position: absolute;
    top: 197px;
    left: 886px;
}
.registr_btn{
    width: 100px;
    margin-left: 200px;
}
.avatar{
    display: none;
}
.avatar_img,.avatar_file{
    position: absolute;
    width: 60px;
    height: 60px;

    left: 60px;
}
.avatar_file{
    opacity: 0;
}

.error {
    color: red;
    margin-left: 10px;
}