<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <style>
        .c1 {
            margin-top: 100px;
        }
        .c2,h6 {
            width: 100px;
            margin-left: 80px;
        }
        .c3 {
            width: 100px;
            margin-left: 90px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="c1 col-md-5 col-md-offset-3">
            <form class="form-horizontal" action="/reg/" method="post" novalidate>
                {% csrf_token %}
                <h3 style="text-align: center">请填写下面的注册信息</h3>
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="username" placeholder="输入用户名" name="username">
                    </div>
                    <h6 style="color: red;">{{mess}}</h6>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">密 码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" placeholder="输入密码" name="password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">确认密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password1" placeholder="再输入一次密码" name="password1">
                    </div>
                </div>
                <h6 style="color: red">{{s1}}</h6>
                <input type="submit" class="c2" value="提交">
                <input type="submit" class="c3" value="取消">

            </form>
        </div>
    </div>

</div>


</body>
</html>